body
  background: #32ffff
  color: #3A4145
  font-family: Courier, 'Open Sans', sans-serif
  font-size: 1.7em
  line-height: 1.6em
  font-weight: bold

ul
  list-style:none
li
  font-weight: bold

h1
  font-weight: bold
  font-size: 3em
  line-height: 2em

h2
  color: #222
  font-size: 2em
  letter-spacing: -1px
  font-weight: bold
  line-height: 1.2em
  text-indent: -2px
