include presentation-header
include header
include menu
article#presentation


	section
		h2 Pengenalan Bahasa Pemrograman C++ Dasar
		h3 Created By :
		ul
			li
			li Mustafa Salim
			li Kevin Bowie
			li Alvin Yaputra
			li Tommy
	section
		h1 Deskripsi
		ul
			li
			li Berisi Syntax-syntax dasar penggunaan bahasa pemograman C++
			li Penggunaan compiler yang disarankan adalah CodeBlocks
	
	section
		h1 Materi Pembelajaran
		ul
			li
			li :: Sintaks Dasar ::
			li :: Tipe Data ::
			li :: Percabangan ::
			li :: Perulangan ::
			li :: Array ::
			li :: String ::
			li :: Struct ::
			li :: Vector ::
			li :: Algorithm ::
	
	section
		h1 Sintaks Dasar
		ul
			li
			li Dalam pemrograman C++ terdapat dua style penulisan
		h3
		ul
			li :: C Style ::
			li :: C++ Style ::

	section
		h1 C Style
		h2 Library yang dibutuhkan dalam penulisan "C Style" :
		h2 #include &#60cstdio>
		h3
		ul
			li
			li Di dalam "cstdio" terdapat beberapa fungsi :
			li scanf --> untuk membaca format data dari stdin
			li printf --> untuk menampilkan format data ke stdout
			li sscanf --> untuk membaca format data dari string
			li sprint --> untuk menulis format data ke string
			li dan lain sebagainya..

	section
		h2 Contoh Penggunaan C Style
		img.big(src="images/c style.png")
		h2 Hasil Keluaran
		img.big(src="images/output c style.png")

	section
		h1 C++ Style
		h2 Library yang dibutuhkan dalam penulisan "C++ Style" :
		h2 #include &#60iostream>
		h3
		ul
			li
			li Di dalam "iostream" terdapat beberapa fungsi:
			li cin --> fungsi masukan (menyimpan data dalam suatu variabel)
			li cout --> fungsi keluaran (menampilkan data ataupun tulisan)
			li Endl --> Untuk memasuki satu baris baru / enter
			li Ends --> Fungsi manipulator yang untuk menambah karakter null (nilai ASCII NOL) ke deretan suatu karakter. 
	section
		h2 Contoh Penggunaan C++ Style
		img.big(src="images/c++style.jpg")
		h2 Keluaran
		img.big(src="images/output-c++style.jpg")
	
	section
		h1 Variabel(case-sensitive)
		ul
			li
			li Deklarasi variabel:
			li int umur;
			li
			li Definisi variabel (harus setelah deklarasi):
			li umur = 29;
			li
			li Gabungan (deklarasi dan definisi):
			li int umur = 29;
	
	section
		h1 Tipe Data
		img.big(src="images/tipedata1.jpg")

	section
		h1 Lanjutan Tipe Data
		img.big(src="images/tipedata2.jpg")
		a http://msdn.microsoft.com/en-us/library/s3f49ktz.aspx
		h3
		a www.cplusplus.com/doc/tutorial/variables/
		h3 dan sebagainya...
	
	section
		h1 Percabangan
		ul		
			li
			li Percabangan merupakan statement yang wajib diketahui oleh semua programmer...
		h2
		ul
			li Di dalam pemrograman C++ terdapat dua cara penggunaan :
		h2
		ul
			li :: If ... Else  Statement ::
			li :: Switch ... Case Statement ::
	section
		h2 Contoh Penggunaan If-Else Statement
		img.big(src="images/if statement.jpg")
		h2 Dan
		img.big(src="images/if-else statement.jpg")

	section
		h2 Contoh Lain If Statement
		img.big(src="images/cthif1.png")
		img.big(src="images/cthhslif1.png")
	
	section
		h2 Percabangan Bersarang
		h3 syntax :
		img.big(src="images/cabangif.png")
	
	section
		h2 Contoh Percabangan If-Statement
		img.big(src="images/cthifcabang.png")
	
	section
		h2 Contoh Penggunaan Switch-Case Statement
		img.big(src="images/switch statement.png")
	
	section
		h1 Perulangan
		ul
			li
			li Perulangan juga merupakan statement yang wajib diketahui ...
		h2
		ul
			li Di dalam pemrograman C++ terdapat tiga cara penggunaan :
		h2
		ul
			li :: For ... Statement ::
			li :: While ... Statement ::			
			li :: Do ... While Statement ::
	
	section
		h2 For ... Statement
		h3 Syntax :
		img.big(src="images/syntax.png")

	section
		h2 Contoh Penggunaan Perulangan For
		img.big(src="images/for.jpg")
		h3 Keluaran
		img.big(src="images/for-keluaran.jpg")
	
	section
		h2 Perulangan While
		h3 Syntax :
		img.big(src="images/while.png")
	
	section
		h2 Contoh Penggunaan Perulangan While
		img.big(src="images/while1.png")
		h3 Keluaran
		img.big(src="images/keluaran_while.png")	

	section
		h2 Perulangan Do ... While
		h3 Syntax :
		img.big(src="images/syntaxdowhile.png")	
	
	section
		h2 Contoh Penggunaan Perulangan Do ... While
		img.big(src="images/dowhile.png")
		h3 Keluaran
		img.big(src="images/keluaran_dowhile.png")
		
	
	section
		h1 Array
		ul
			li
			li Tipe data terstruktur yang dipakai untuk menyimpan sekumpulan item data yang mempunyai tipe data sejenis.
		h2
		ul
			li Untuk mengakses item data, digunakan penunjuk/index.
		h2
		ul
			li Terdiri dari 2 Jenis Array :
			li :: Array 1 Dimensi ::
			li :: Array Multidimensi ::
		
	section
		h1 Array 1 Dimensi
		h3 Syntax :
		ul
			li Tipe_Data Variabel[value];
		h3 Contoh :
		ul
			li int angka[10];
			li char huruf[10];
	
	section
		h2 Contoh Penggunaan Array 1 Dimensi
		img.big(src="images/array1.png")
		h3 Keluaran
		img.big(src="images/keluaran_array1.png")
	
	section
		h1 Array Multidimensi
		h3 Syntax :
		ul
			li Tipe_Data Variabel[value_1][value_2]...[value_n]
		h3 Contoh :
		ul
			li int angka[10][5];
			li char kode[2][5][2];
	section
		h2 Contoh Penggunaan Array Dua Dimensi
		img.big(src="images/array-2.jpg")

	section
		h2 Keluaran
		img.big(src="images/array-2-keluaran.jpg")

	section
		h1 String
		ul
			li
			li Bentuk data yang biasa dipakai dalam bahasa pemrograman untuk keperluan menampung dan memanipulasi data teks, misalnya untuk menampung (menyimpan) suatu kalimat atau karakter.
			br
			li Merupakan kumpulan dari array dengan tipe data char.
			br
			li Sederetan simbol yang tak tertentu panjangnya, yang dianggap sebagai panjang satu unit
			br
			li Berupa huruf, angka, karakter khusus, maupun karakter Unicode
			br
			li Terdapat beberapa fungsi yang digunakan untuk operasi pengolahan string

	section
		h2 Fungsi String pada C++ Style
		ul
			li
			li o Fungsi size / length
				ul
					li Mengembalikan panjang karakter suatu string
			li o Fungsi insert
				ul
					li Menyisipkan karakter-karakter ke dalam string
			li o Fungsi erase
				ul
					li Menghapus karakter tertentu pada string
			li o Fungsi clear
				ul
					li Menghapus string
			li o Fungsi substr
				ul
					li Mengenerate substing dari string
			li o Fungsi operator+
				ul
					li Mengabungkan string-string
			li o Fungsi getline
				ul
					li Membaca baris dari stream ke dalam string

	section
		h2 Cara Input String pada C++ Style
		img.big(src="images/stringc++.png")
		h3 Keluaran
		img.big(src="images/keluaran_stringc++.png")
	
	section
		h2 Fungsi String pada C Style	
		ul
			li
			li o Fungsi strcat
				ul
					li Menggabungkan dua string menjadi satu.
			li o Fungsi strlen
				ul
					li Menghitung panjang karakter pada suatu string. Fungsi bertipe data integer.
			li o Fungsi strcpy
				ul
					li Menyalin isi string ke suatu variabel.
			li o Fungsi strupr (Uppercase)
			li o Fungsi strlwr (Lowercase)
	
	section
		h2 Cara Input String pada C Style
		img.big(src="images/cthstringc1.png")
		h3 Keluaran
		img.big(src="images/cthstringc2.png")
	
	section
		h1 Struct
		ul
			li
			li Digunakan untuk menampung beberapa variabel dengan tipe data yang berbeda dalam 1 nama variabel.
			li Berguna jika penggunaan variabel sudah kompleks dan besar.
			li Biasanya dikelompokkan berdasarkan kesamaan sifat dasar.
			li Contohnya didalam struct Mahasiswa terdapat variabel nama, nim, dll dengan masing-masing varibel mempunyai tipe data yang berbeda.
	
	section
		h1 Struct
		h3 Syntax :
		img.big(src="images/struct.png")
		h3 Contoh :
		img.big(src="images/struct_1.png")
	
	section
		h1 Prosedur dan Fungsi
		
	section
		h2 Prosedur
		ul
			li Prosedur merupakan sebuah blok kode yang melakukan operasi yang telah didefinisikan, akan tetapi tidak mengembalikan suatu nilai
		h3 Syntax :
		h3 tanpa parameter
		ul		
			li void nama_prosedur()
		h3 dengan parameter
		ul
			li void nama_prosedur(type_data parameter_1, ...,  type_data parameter_n)

	section
		h2 Contoh Penggunaan Procedure
		img.big(src="images/Prosedur.png")
		h3 Keluaran :
		img.big(src="images/Cth Prosedur.png")	

	section
		h2 Function
		ul
			li
			li Fungsi adalah blok kode yang dapat dipanggil untuk mengerjakan suatu tugas tertentu dan menghasilkan nilai kembalian.
		h3
		ul
			li Perbedaannya dengan Prosedure adalah sebuah function akan mengembalikan sebuah nilai balik pada pemanggilnya, sehingga pemanggil sebuah function harus memiliki penampung dari hasil function
		h3
		ul
			li Penampungan tersebut dapat berupa sebuah variable atau lainnya. Biasanya function dibuat untuk kode program perhitungan, atau kode program lain yang akan melakukan pengembalian nilai data.		
	
	section
		h2 Contoh Penggunaan Function
		img.big(src="images/fungsi.png")
		h3 Keluaran :
		img.big(src="images/fungsi_1.png")

	section
		h1 Rekursif
		ul
			li
			li Merupakan fungsi yang memanggil dirinya sendiri.
			li Biasanya digunakan untuk menyelesaikan masalah yang dapat dipecah-pecah menjadi sub-problem.
			li Ada 2 bagian penting dalam rekursif
			li 1. Base Case -> Bagian batas dasar rekursif akan berhenti.
			li 2. Rekursive Case -> bagian dimana fungsi akan memanggil dirinya sendiri lagi.
	
	section
		h2 Contoh Pengunaan Rekursif
		img.big(src="images/cthrekursif.png")
		img.big(src="images/cthrekursif1.png")	
	
	section
		h1 Vector
		ul
			li 
			li Merupakan kontainer yang dapat menampung semua jenis tipe data dan mempunyai ukuran yang dinamis.
			li Disebut juga sebagai Array Dinamis.
			li Cara pengaksesan data-datanya sama seperti pada Array.
			li Yang membedakan adalah pada vector terdapat perintah-perintah dasar untuk memanipulasi isi vector.	
	
	section
		h2 Perintah-perintah dasar untuk memasukkan/menghapus data dalam vector
		ul
			li
			li push_back -> Memasukkan data pada posisi paling akhir.
			li pop_back -> Menghapus data pada posisi terakir.
	
	section
		h2 Contoh Pengunaan Vector - Dasar
		img.big(src="images/vector.png")
		h3 Keluaran
		img.big(src="images/vector_1.png")	
		
	section
		h2 Perintah-perintah dasar lain dalam vector
		ul
			li
			li erase -> Menghapus posisi tertentu pada vector, baik yang satu element saja maupun range tertentu (awal, akhir).
		h3
		ul				
			li insert -> Vector diperpanjang dengan memasukkan element-element baru sebelum element pada posisi tertentu, secara efektif menambahkan ukuran kontainer dengan jumlah elemen yang dimasukkan.
		h3
		ul
			li clear -> Menghapus semua elemen dari vektor, membiarkan kontainer menjadi ukuran 0.

	section
		h2 Contoh Pengunaan Vector - Lanjutan
		img.big(src="images/Vector2.png")
		h3 Keluaran
		img.big(src="images/Vector2 cth.png")
	
	section
		h1 Algorithm
		ul
			li
			li Merupakan standard library yang mengandung fungsi-fungsi khusus.
			li Fungsi tersebut merupakan algoritma tertentu.
			li Fungsi tersebut dapat membantu dalam mengimplementasikan algoritma sehingga mempermudah melakukan coding.
			li STL Header yang digunakan:
		h2 #include&#60algorithm>

	section
		h2 next_permutation dan prev_permutation
		br
		ul
			li
			li next_permutation -> menata kembali data-data dalam rentang [first, last] ke permutasi berikutnya secara leksikografi
			br
			li prev_permutation -> menata kembali data-data dalam rentang [first, last] ke permutasi sebelumnya secara leksikografi
	
	section
		h3 Implementasi
		img.big(src="images/permutation.png")
		h3 Keluaran
		img.big(src="images/cth permutation.png")
	
	section
		h2 sort, min_element, dan max_element
		br
		ul
			li
			li sort -> mengurutkan data-data dalam rentang [first, last] secara ascending
			br
			li min_element -> mengembalikan data dengan nilai terkecil
			br
			li max_element -> mengembalikan data dengan nilai terbesar
	
	section
		h3 Implementasi
		img.big(src="images/sort.png")
		h3 Keluaran
		img.big(src="images/sort_1.png")
	
	section
		h2 search_n , find, dan count
		br
		ul
			li
			li search_n (mencari range untuk element) -> Mencari jumlah element berdasarkan range yang ditentukan (first, last), setiap perbandingan sama dengan val.
			br
			li find (mencari nilai dalam range) -> Mengembalikan sebuah iterator ke element pertama terhadap range [first, last] yang perbadingannya sama dengan val. Jika tidak ketemu, fungsi return ke last.
			br
			li count -> Mengembalikan jumlah elemen-elemen dalam range [first, last] yang perbandingannya sama dengan val. Fungsi ini menggunakan operator == untuk membandingkan.
	
	section
		h2 Implementasi
		img.big(src="images/search.png")
	
	section
		h2 Keluaran
		img.big(src="images/search_1.png")
	
	section 
		h2 swap, count, remove
		ul
			li
			li swap -> digunakan untuk menukar 2 nilai antara 2 variabel.
			br
			li count -> digunakan untuk menghitung berapa banyak nilai tertentu dalam sebuah list/array.
			br
			li remove -> digunakan untuk menghapus nilai tertentu dalam sebuah list/array.
	
	section
		h2 Implementasi
		img.big(src="images/algorithm 1.jpg")
	
	section 
		h2 Keluaran
		img.big(src="images/algorithm 1 keluaran.jpg")

	Section
		h2 Soal dan Pembahasan
		h3 Coba kerjakan latihan sederhana berikut untuk sebagai permulaan.
		img.big(src="images/latihan2.png")
		img.big(src="images/latihan1.png")

	Section
		img.big(src="images/latihan3.png")
		img.big(src="images/latihan4.png")

	section
		h1 Lanjut sini ya
		h2 To Tommy / Mustafa / Alvin

include presentation-footer
include main-footer
