include presentation-header
include header
include menu
article#presentation


	section
		h2 Pengenalan Bahasa Pemrograman C++ Dasar
		h3 Created By :
		ul
			li
			li Mustafa Salim
			li Kevin Bowie
			li Alvin Yaputra
			li Tommy
	section
		h1 Deskripsi
		ul
			li
			li Berisi Syntax-syntax dasar penggunaan bahasa pemograman C++
			li Penggunaan compiler yang disarankan adalah CodeBlocks
	
	section
		h1 Materi Pembelajaran
		ul
			li
			li :: Sintaks Dasar ::
			li :: Tipe Data ::
			li :: Percabangan ::
			li :: Perulangan ::
			li :: Array ::
			li :: String ::
			li :: Struct ::
			li :: Vector ::
			li :: Algorithm ::
	
	section
		h1 Sintaks Dasar
		ul
			li Dalam pemrograman C++ terdapat dua style penulisan
		h3
		ul
			li :: C Style ::
			li :: C++ Style ::

	section
		h1 C Style
		h2 Library yang dibutuhkan dalam penulisan "C Style" :
		h2 #include &#60cstdio>
		h3
		ul
			li Di dalam "cstdio" terdapat beberapa fungsi :
			li scanf --> untuk membaca format data dari stdin
			li printf --> untuk menampilkan format data ke stdout
			li sscanf --> untuk membaca format data dari string
			li sprint --> untuk menulis format data ke string
			li dan lain sebagainya..

	section
		h2 Contoh Penggunaan C Style
		img.big(src="images/c style.png")
		h2 Hasil Keluaran
		img.big(src="images/output c style.png")

	section
		h1 C++ Style
		h2 Library yang dibutuhkan dalam penulisan "C++ Style" :
		h2 #include &#60iostream>
		h3
		ul
			li Di dalam "iostream" terdapat beberapa fungsi:
			li cin --> fungsi masukan (menyimpan data dalam suatu variabel)
			li cout --> fungsi keluaran (menampilkan data ataupun tulisan)
			li Endl --> Untuk memasuki satu baris baru / enter
			li Ends --> Fungsi manipulator yang untuk menambah karakter null (nilai ASCII NOL) ke deretan suatu karakter. 
	section
		h2 Contoh Penggunaan C++ Style
		img.big(src="images/c++style.png")
	
	section
		h1 Variabel(case-sensitive)
		ul
			li Deklarasi variabel:
			li int umur;
			li
			li Definisi variabel (harus setelah deklarasi):
			li umur = 29;
			li
			li Gabungan (deklarasi dan definisi):
			li int umur = 29;
	
	section
		h1 Lanjut sini

include presentation-footer
include main-footer
