include presentation-header
include header
include menu
article#presentation


	section
		h2 Pengenalan Bahasa Pemrograman C++ Dasar
		h3 Created By :
		ul
			li
			li Mustafa Salim
			li Kevin Bowie
			li Alvin Yaputra
			li Tommy
	section
		h1 Deskripsi
		ul
			li
			li Berisi Syntax-syntax dasar penggunaan bahasa pemograman C++
			li Penggunaan compiler yang disarankan adalah CodeBlocks
	
	section
		h1 Mulai Disini yahhhh :D :P
			
include presentation-footer
include main-footer
