include presentation-header
include header
include menu
article#presentation


	section
		h2 Pengenalan Bahasa Pemrograman C++ Dasar
		h3 Created By :
		ul
			li
			li Mustafa Salim
			li Kevin Bowie
			li Alvin Yaputra
			li Tommy
	section
		h1 Deskripsi
		ul
			li
			li Berisi Syntax-syntax dasar penggunaan bahasa pemograman C++
			li Penggunaan compiler yang disarankan adalah CodeBlocks
	
	section
		h1 Materi Pembelajaran
		ul
			li
			li :: Sintaks Dasar ::
			li :: Tipe Data ::
			li :: Percabangan ::
			li :: Perulangan ::
			li :: Array ::
			li :: String ::
			li :: Struct ::
			li :: Vector ::
			li :: Algorithm ::
	
	section
		h1 Sintaks Dasar
		ul
			li
			li Dalam pemrograman C++ terdapat dua style penulisan
		h3
		ul
			li :: C Style ::
			li :: C++ Style ::

	section
		h1 C Style
		h2 Library yang dibutuhkan dalam penulisan "C Style" :
		h2 #include &#60cstdio>
		h3
		ul
			li
			li Di dalam "cstdio" terdapat beberapa fungsi :
			li scanf --> untuk membaca format data dari stdin
			li printf --> untuk menampilkan format data ke stdout
			li sscanf --> untuk membaca format data dari string
			li sprint --> untuk menulis format data ke string
			li dan lain sebagainya..

	section
		h2 Contoh Penggunaan C Style
		img.big(src="images/c style.png")
		h2 Hasil Keluaran
		img.big(src="images/output c style.png")

	section
		h1 C++ Style
		h2 Library yang dibutuhkan dalam penulisan "C++ Style" :
		h2 #include &#60iostream>
		h3
		ul
			li
			li Di dalam "iostream" terdapat beberapa fungsi:
			li cin --> fungsi masukan (menyimpan data dalam suatu variabel)
			li cout --> fungsi keluaran (menampilkan data ataupun tulisan)
			li Endl --> Untuk memasuki satu baris baru / enter
			li Ends --> Fungsi manipulator yang untuk menambah karakter null (nilai ASCII NOL) ke deretan suatu karakter. 
	section
		h2 Contoh Penggunaan C++ Style
		img.big(src="images/c++style.jpg")
		h2 Keluaran
		img.big(src="images/output-c++style.jpg")
	
	section
		h1 Variabel(case-sensitive)
		ul
			li
			li Deklarasi variabel:
			li int umur;
			li
			li Definisi variabel (harus setelah deklarasi):
			li umur = 29;
			li
			li Gabungan (deklarasi dan definisi):
			li int umur = 29;
	
	section
		h1 Tipe Data
		img.big(src="images/tipedata1.jpg")

	section
		h1 Lanjutan Tipe Data
		img.big(src="images/tipedata2.jpg")
		a http://msdn.microsoft.com/en-us/library/s3f49ktz.aspx
		h3
		a www.cplusplus.com/doc/tutorial/variables/
		h3 dan sebagainya...
	
	section
		h1 Percabangan
		ul		
			li
			li Percabangan merupakan statement yang wajib diketahui oleh semua programmer...
		h2
		ul
			li Di dalam pemrograman C++ terdapat dua cara penggunaan :
		h2
		ul
			li :: If ... Else  Statement ::
			li :: Switch ... Case Statement ::
	section
		h2 Contoh Penggunaan If-Else Statement
		img.big(src="images/if statement.jpg")
		h2 Dan
		img.big(src="images/if-else statement.jpg")

	section
		h2 Contoh Lain If Statement
		img.big(src="images/cthif1.png")
		img.big(src="images/cthhslif1.png")
	
	section
		h2 Percabangan Bersarang
		h3 syntax :
		img.big(src="images/cabangif.png")
	
	section
		h2 Contoh Percabangan If-Statement
		img.big(src="images/cthifcabang.png")
	
	section
		h2 Contoh Penggunaan Switch-Case Statement
		img.big(src="images/switch statement.png")
	
	section
		h1 Perulangan
		ul
			li
			li Perulangan juga merupakan statement yang wajib diketahui ...
		h2
		ul
			li Di dalam pemrograman C++ terdapat tiga cara penggunaan :
		h2
		ul
			li :: For ... Statement ::
			li :: While ... Statement ::			
			li :: Do ... While Statement ::
	
	section
		h2 For ... Statement
		h3 Syntax :
		img.big(src="images/syntax.png")

	section
		h2 Contoh Penggunaan Perulangan For
		img.big(src="images/for.jpg")
		h3 Keluaran
		img.big(src="images/for-keluaran.jpg")
	
	section
		h2 Perulangan While
		h3 Syntax :
		img.big(src="images/while.png")
	
	section
		h2 Contoh Penggunaan Perulangan While
		img.big(src="images/while1.png")
		h3 Keluaran
		img.big(src="images/keluaran_while.png")	

	section
		h2 Perulangan Do ... While
		h3 Syntax :
		img.big(src="images/syntaxdowhile.png")	
	
	section
		h2 Contoh Penggunaan Perulangan Do ... While
		img.big(src="images/dowhile.png")
		h3 Keluaran
		img.big(src="images/keluaran_dowhile.png")
		
	
	section
		h1 Array
		ul
			li
			li Tipe data terstruktur yang dipakai untuk menyimpan sekumpulan item data yang mempunyai tipe data sejenis.
		h2
		ul
			li Untuk mengakses item data, digunakan penunjuk/index.
		h2
		ul
			li Terdiri dari 2 Jenis Array :
			li :: Array 1 Dimensi ::
			li :: Array Multidimensi ::
		
	section
		h1 Array 1 Dimensi
		h3 Syntax :
		ul
			li Tipe_Data Variabel[value];
		h3 Contoh :
		ul
			li int angka[10];
			li char huruf[10];
	
	section
		h2 Contoh Penggunaan Array 1 Dimensi
		img.big(src="images/array1.png")
		h3 Keluaran
		img.big(src="images/keluaran_array1.png")
	
	section
		h1 Array Multidimensi
		h3 Syntax :
		ul
			li Tipe_Data Variabel[value_1][value_2]...[value_n]
		h3 Contoh :
		ul
			li int angka[10][5];
			li char kode[2][5][2];
	section
		h2 Contoh Penggunaan Array Dua Dimensi
		img.big(src="images/array-2.jpg")

	section
		h2 Keluaran
		img.big(src="images/array-2-keluaran.jpg")

	section
		h1 String pada C++
		h3 Sederetan simbol yang tak tertentu panjangnya, yang dianggap sebagai panjang satu unit
		h3 Berupa huruf, angka, karakter khusus, maupun karakter Unicode
		h3 Terdapat beberapa fungsi yang digunakan untuk operasi pengolahan string

	section
		h2 Fungsi pada String		
		h3 o Fungsi strcat
		h3   Menggabungkan dua string menjadi satu.
		h3 o Fungsi strlen
		h3   Menghitung panjang karakter pada suatu string. Fungsi bertipe data integer.
		h3 o Fungsi strcpy
		h3   Menyalin isi string ke suatu variabel.
		h3 o Fungsi strupr (Uppercase)
		h3 o Fungsi strlwr (Lowercase)

	section
		h1 Lanjut sini ya
		h2 To Tommy / Mustafa / Alvin

include presentation-footer
include main-footer
