include presentation-header
article#presentation


	section
		h1 Ini Masih Testing Slide kami (Peace)
		h3 Created By :
		ul
			li Mustafa Salim
			li Kevin Bowie
			li Alvin Yaputra
			li Tommy


			
include presentation-footer
include main-footer
